{% extends 'base.html' %}
{% block title %}待办事项程序{% endblock %}
{% block content %}
  <div style="background-color: #6c996a">
    <h1 style="color: papayawhip; text-align: center">高效率  慢生活</h1>
  </div>
  <div style="background-color: #6c996a">
    <div id="todo-add">
      <form id="a"  action="{{ url_for('add') }}" method="post" class="form-inline" style="text-align: center;">
        <textarea id="b" rows=5 cols=50 placeholder="请输入待办事项" name="content"></textarea>
        <button id="c" type="submit" class="btn btn-success btn-lg" style="height: 100%;">添加</button>
      </form>
    </div>
  </div>
  <hr>
  <div id="todo-list" style="text-align: center; width: 1000px; margin: 0 auto;">
    <table class="table table-striped" style="border: 1px solid black; margin: 0 auto;" border="1">
      <tr>
        <th>序号</th>
        <th>创建时间</th>
        <th>内容</th>
        <th>状态</th>
        <th>删除</th>
        <th>完成</th>
      </tr>
      {% for todo in todo_list %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ todo.creat_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          <td>{{ todo.content }}</td>
          {% if todo.status == 0 %}
            <td>未完成</td>
          {% elif todo.status == 1 %}
            <td bgcolor="yellow">已完成</td>
          {% endif %}
          <td><a href="{{ url_for('delete', content=todo.content) }}"><span class="glyphicon glyphicon-remove"></span></a></td>
          <td><a href="{{ url_for('finish',content=todo.content) }}"><span class="glyphicon glyphicon-ok"></span></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}